.DropdownWrapper {
    display: flex;
    flex: 1 1 45%;
    position: relative;
}
.DropdownButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    min-width: 200px;
    border-radius: 16px;
    background-color: #333333;
    color: #EDEFEE;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .selected {
    color:#EDEFEE;
    background-color:#495E57;
  }
  .DropdownButton div:first-of-type {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .DropdownButton div:last-of-type{
    margin-right: 15px;
  }

  .Dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75px;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-radius: 16px;
    background-color: #EE9972;
    z-index: 1000;
    overflow: hidden;
  }
  .DropdownOption {
    display: flex;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:#333333;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  .DropdownOption:hover {
    background-color: #FBDABB;
    color: #495E57;
  }