html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Layout */

.layout-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100px;
}
section {
  grid-column: 1 / -1;
  background-color: greenyellow;
  height: 400px;
}
main {
  grid-column: 1 / -1;
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1200px;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}
.main-container form {
  grid-column:1 / -1;
  background-color: #EDEFEE;
  border-radius: 32px;
}
.main-container aside {
  grid-column:1 / -1;
  display: flex;
  flex-direction: column;
}

.home-main {
  height: 1000px;
}

footer {
  grid-column: 1 / -1;
  background-color: #F4CE14;
  height: 250px;
}

/* Font Styling */

h1 {
  font-size: 4rem;
  color: #F4CE14;
}
h2 {
  font-size: 2rem;
  color: white;
}
h3 {
  font-size: 2.5rem;
  color: black;
}
h5 {
  font-size: 1.25rem;
}
h6{
  font-size: 1.15rem;
}

/* Header Styling */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-logo-container {
  flex: 1;
  justify-content: flex-start;
}
.nav-logo-container img {
  height: 50px;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  width: 100%;
  margin-left: 20px;
}
nav ul.login {
  color:#495E57;
  width: auto;
  flex: 1;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
nav ul.login li {
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

/* Hero */
.hero {
  background-image: url('./images/little-lemon-dining.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.hero-h1 {
text-align: center;
margin-top: 2.5rem;
}
.hero-h2 {
  text-align: center;
  font-weight: normal;
}

/* Form */
form {
  padding:25px;
  margin-bottom: 55px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  padding-bottom: 40px;
  width: 100%;
  gap: 25px;
  border-bottom: solid;
  border-width: 1px;
}
.input-box {
  height: 55px;
  flex: 1 1 45%;
  margin-bottom: 15px;
  margin-top: 15px;
  min-width: 200px;
  border-radius: 16px;
  background-color: none;
}
.date-selection-box{
  position: relative;
  display: flex;
  height: 55px;
  flex: 1 1 45%;
  margin-bottom: 15px;
  margin-top: 15px;
  min-width: 200px;
  border-radius: 16px;
  box-sizing: border-box;
  border:solid 1px #333333
}

.date-selection-box input {
  width: 100%;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #41414100;
  color:#333333;
  font-size:1.2rem;
  border: none;
  padding: 15px;
}
.date-selected {
  border-color:#495E57;
  background-color: #495e5734;
}
.comment-box {
  height: 180px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 16px;
  background-color: #495E57;
}
.next-box {
  height: 55px;
  width: 25%;
  margin-top: 25px;
  margin-bottom: px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F4CE14;
  border-radius: 16px;
}
/* Aside */
.main-container aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.aside-divs div {
  margin-bottom: 55px;
}
aside div p {
  margin-top: 10px;
}

div.contact-us {
  display:flex;
  border-radius: 16px;
  border: solid;
  border-width: thin;
  height: 55px;
  align-items: center;
  justify-content: center;
}
.aside-img {
  display: none;
  border-radius: 32px;
}


/* Footer */
footer {
  text-align: center;
}
footer p {
  padding-top: 200px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  nav {
    margin-left: 55px;
    margin-right: 55px;
    grid-column:1 / -1;
  }
  .main-container {
    margin-top: 5rem;
    margin-left: 55px;
    margin-right: 55px;
    grid-gap: 55px;
 }
  .main-container form {
    grid-column:1 / 6;
    margin-bottom: 0;
  }
  .main-container aside {
    grid-column:6 / -1;
  }
  .aside-img {
    display: block;
  }
  footer {
    z-index:-1;
    margin-top: -5rem;
  }
}
@media only screen and (min-width: 1279px) {
  /* For desktop: */
  nav {
  grid-column: 3 / 11;
  }
  .main-container {
    grid-column: 3 / 11;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .main-container aside {
    margin-left: 50px;
    margin-top: 50px;
  }
  .main-container aside {
    justify-content: space-between;
  }

}